

nav{
    background: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    

}
nav img{
    padding: 15px;
}
body{
    margin: 0;
}
h1{
    margin: 0;
    padding-top: 100px;
    font-family: 'Sora', sans-serif;
    font-size: 80px;
    font-weight: bold;


}
h3{
        font-family: 'Sora', sans-serif;
        font-size: 40px;
        font-weight: bold;
}
main{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    background: black;
    color: white;
    padding: 0 40px;
}
a{
    text-decoration: none;
    color: black;
}
#voitures{
    display:flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 100px 0;

}

.voiture-card{
    flex: 1 0 30%;
    min-width: 300px;
    margin: 15px;
}
#model{
    margin-top: 15px;
    margin-bottom: 30px;
}

.voiture-card .img-container{
    width: 100%;
}
.voiture-card .img-container img{
    width: 100%;
    height: 100%;
}

.article {
    padding: 200px 0;

}
.article .hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.article .img-container{
    width: 100%;
    height: 800px;
}
.article .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#location{
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 500;
}
.article .actions{
    display: flex;
    margin-top: 50px;
}
.article .actions button {
margin-right: 15px;
}

.btn{
    border-radius: 30px;
    padding: 5px 30px;
    background: white;
    text-decoration: none;
    color: black;
        font-family: 'Sora', sans-serif;
        align-items: center;
    font-size: 18px;
font-weight: 500;}
.form-container  input,textarea{
    width: 70%;
    
}
.form-container label{
    margin-bottom: 10px;
}
.form-child{
    margin: 50px 0;

}
.form-child .description{
    height: 200px;
}
.form-container input{

    padding: 5px;
    border-radius: 5px;
    transition: 0.2s;

}

.form-container input:focus {
    padding: 5px;
    border-radius: 15px;

}

textarea{
    resize: vertical;
}

.new-car{
background: rgb(32, 32, 32);
display: flex;
justify-content: flex-end;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
}
.new-car a{
    color: rgb(0, 0, 0);
    
    
}

.new-car .btn{
    margin-right: 15px;

}

input[type=submit]{
            font-family: 'Sora', sans-serif;
            font-size: 18px;
            padding: 5px 25px;
            margin-bottom: 50px;
            border-radius: 30px;
}
.title{
    width: 100%;
  
}